
*{
    margin: 0;
}
.body {
    padding: 0;
    margin:0;
    font-family: Arial, sans-serif;

    
}

.navbar {
    background:linear-gradient(60deg,black,grey,red);
    margin: 0px;
    display: flex;
    color:white;
    justify-content: space-between;
    align-content: center;
    margin: 0px; 
    padding-left: 10px;
    padding: 10px;
    font-size: 18px;
    position:sticky;
    top:0;
    

}
#Brandingclr1 {
    color:white;
    text-shadow: 10px;
}
#Brandingclr2 {
    color:red;
    margin-right:5px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;

}
.navbar ul li {
    padding: 10px;
}
.navbar ul li a:hover {
    color:black;

}
.navbar ul {
    list-style-type: none;
    display: flex;

}
.navbar h1 img{
    width: 100px;
    height: 30px;
    align-items:center ;
    border-radius: 10px;
    margin-right: 10px;
}
.navbar h1  {
    display: flex;
}



/*---------------- --Landing Area design---------------------------*/
.landing-area {
    background: white url("img/Thar_Jeep1.jpg") no-repeat scroll center;
    color: white;
    height: 100vh;
    background-size: cover;
    
}
.wrapper {
    background: rgba(0, 0,0, 0.6);
    height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
}
.wrapper h1 {
    color:white;
    margin-bottom: 30px;
    font-style: serif;
}
.wrapper p {
    margin: 0px 100px
    
}

.btn-primary {
    background-color: red;
    color: white;
    border: none ;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}
.btn-primary:hover {
    box-shadow: 0 0 10px white;
    cursor: pointer;

}


/*------------------------------ Media Queries-------------*/
 @media(max-width:768px) {
    .navbar {
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    #Brandingclr2 {
        color:red;
        margin-right:1px;
    }
    .navbar ul li {
        padding: 5px;
        font-size: 17px;
    }
    .navbar h1 img{
        width: 100px;
        height: 30px;
        align-items:center ;
        border-radius: 10px;
        margin-right:5px;
    }
    .wrapper p {
        margin: 0px 20px;
        
    }
    .wrapper h1 {
        color: red;
        margin-bottom: 10px;
        font-style: serif;
        font-size: 25px;
        text-align: center;
    }

 }