body {
    background-color: aquamarine;
}
@media(min-width:768px){
    body{
        background-color: bisque;
    }
}
@media(min-width:1024px){
    body{
        background-color:blue
    }
}
@media(min-width:1240px){
    body{
        background-color:yellowgreen;
    }
}